.p-tags {
  margin: 0 10px 10px auto;
}

#contact-wrapper{
  display: block;
}

.contact-wrapper p {
  margin-left: 5px;
}

.contact-wrapper a {
  color: rgba(0, 0, 0, 0.85);;
}

.contact-wrapper:hover i, .contact-wrapper:hover p {
  color: #1890ff;
}

.contact-wrapper i, .contact-wrapper p {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.25s ease;
}
