<!--The content below is only a placeholder and can be replaced.-->
<div id="main-wrapper">
  <div id="side-bar">
    <div style="display: table-cell; vertical-align: middle">
      <i class="fas fa-angle-left" id="collapse-button" (click)="collapseSideBar(this.isCollapsed)"
         [nz-tooltip]="this.language === 1 ? 'Show/Hide Sidebar' : '展开/收起侧边栏'"
         nzPlacement="right"
      >
      </i>
      <h1 style="margin: 0 0 0 0; padding-top: 10px; color: white; text-align: center">{{data.headingTitle}}</h1>
      <h4 style="margin-top: 10px; margin-bottom: 30px; color: white; text-align: center; opacity: 0.4">{{data.headingSubtitle}}</h4>
      <div [class]="clickedPosition === item.position.toString() ? 'menu-itemsA' : 'menu-items'"
           *ngFor="let item of data.menuItem"
           (click)="scrollToPage(item.position)"
      >
        <span style="font-size: 20px;line-height: 20px;position: relative;top: 0;">{{item.title}}</span>
        <div class="bottom"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right"></div>
      </div>
    </div>
  </div>
  <div id="content-wrapper">
    <div id="language-switch">
      <a [id]="this.language === 2 ? 'chinese-language-button:active' : 'chinese-language-button'" (click)="switchLanguage(2)">
        中
      </a>
      /
      <a [id]="this.language === 1 ? 'english-language-button:active' : 'english-language-button'" (click)="switchLanguage(1)">
        EN
      </a>
    </div>
    <i class="fas fa-download" id="print-button" [nz-tooltip]="this.language === 1 ? 'Download(Disabled)' : '下载(暂不可用)'" nzPlacement="bottom"></i>
    <app-detail-page [position]="pagePosition" *ngIf="language===2" [lan]="2"></app-detail-page>
    <app-detail-page [position]="pagePosition" *ngIf="language===1" [lan]="1"></app-detail-page>
  </div>
</div>

